<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS Form</title>
    <link rel="stylesheet" href="/css/editBlog.css">
</head>
<body>

    <!-- Navbar -->
    <%-include("./components/navbar.ejs")%>

    <!-- CMS Form Container -->
    <div class="form-container">
        <div class="form-header">
            <h1>Edit Post</h1>
            <h4>Enter the details below</h4>
            <p>Fill in the title, subtitle, and description to add a new post to the CMS.</p>
        </div>

        <form action="/editBlog1/<%-data[0].id%>" method="post" enctype="multipart/form-data">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%-data[0].title%>" required>

            <label for="subtitle">Subtitle</label>
            <input type="text" id="subtitle" name="subtitle" value="<%-data[0].subTitle%>" required>
            
            <label for="image">image</label>
            <input type="file" id="image" name="image" value="<%-data[0].image%>">

            <label for="description">Description</label>
            <textarea id="description" name="description" rows="4" required><%-data[0].description%>
            </textarea>

            <input type="submit" value="UPDATE">
        </form>
    </div>

</body>
</html>
