<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/singleBlog.css">
</head>
<body>

  <%-include("./components/navbar.ejs")%>
    <div class="post-container">
        <div class="post-header">
            <h1><%-sdata[0].title%></h1>
            <h3><%-sdata[0].subTitle%></h3>
            <img src="<%-sdata[0].image%>" alt="">
            <h3>Writer Name : <%-sdata[0].user.user%></h3>
            <h4><%-sdata[0].createdAt.toISOString().slice(0,10)%></h4>
        </div>
        <div class="post-content">
                <p>
                  <%-sdata[0].description%>
                </p>        
              </div>
        <a href="/" class="back-link">← Back to Posts</a>
        
        <form action="/delete/<%- sdata[0].id %>" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
          
         <form action="/edit/<%-sdata[0].id %>" method="post" style="display: inline;">
        <button>UPDATE</button>  
        </form>

          

    </div>
</body>
</html>
